* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

@font-face {
    font-family: Roboto;
    src: url("font/roboto.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("font/Roboto-Black.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoThin;
    src: url("font/Roboto-Thin.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: url("font/Roboto-Light.ttf");
}

:root {
    font-family: RobotoRegular;
    --font-color : #ffffff;
    --bg-color: #000000;
    --extra: #fff;
    --shadow: rgba(255,255,255,1)
}


body {
     background-color: var(--bg-color);
    color: var(--font-color);
    width: 800px;
    margin: 0 auto;
}

#text {
    padding: 0px 20px;
}

.image-box {
    width: 100%;
    position: relative;
}

.link {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: 100%; 
    border-radius: 50px;
}

.title h2{
    font-size: 28px !important;
    text-align: left;
    font-family: Roboto;
}

h1{
    font-size: 23px;
    padding-top: 5vh;
}
p {
    font-size: 20px;
    padding-top: 10px;
}

.list {
    padding-top: 10px;
}


ul {
    position: relative;
   
}
ul li {
    position: relative;
    font-size: 18px;
    text-align: left;
}

.dot li::before {
    position: absolute;
    left: 2px;
    top: 35%;
    transform: translateX(-50%);
    content: '';
    background-color: #FF4654;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}


.underline {
    text-decoration: underline;
}

.boldstrike {
    text-decoration: line-through;
}

.p_title {
    padding-top: 15px;
}

.last {
    margin-bottom: 30px;
}


.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    user-select: none;
    margin-bottom: 20px;
}

.ziskat_btn {
    display: inline-block;
    width: 230px;
    height: 80px;
    background-color: #FF4654;
    border: 3px solid var(--font-color);

    font-size: 36px;
    font-family: RobotoLight;
    text-decoration: none;
    color: var(--extra);
    text-align: center;
    line-height: 80px;

    -webkit-box-shadow: 10px 5px 0px 0px var(--shadow);
    -moz-box-shadow: 5px 5px 0px 0px var(--shadow);
    box-shadow: 5px 5px 0px 0px var(--shadow);   
  

    transition: 0.3s;
}

.ziskat_btn:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;   
}


@media only screen and (max-width: 900px){
    ul li {
      text-indent:0px;
    }
}


@media only screen and (max-width: 800px){
    body {
        width: 100%;
    }
    a {
        left: 5%;
    }
    .title h2{
        font-family: RobotoBlack;
        text-align: center;
    }
}

@media only screen and (max-width: 500px){
    ul li {
        font-size: 17px;
    }
    img {
        border-radius: 30px;
    }
    .ziskat_btn:hover {
        -webkit-box-shadow: 10px 5px 0px 0px var(--shadow);
        -moz-box-shadow: 5px 5px 0px 0px var(--shadow);
        box-shadow: 5px 5px 0px 0px var(--shadow);       
    }
}
